

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*, *::before, *::after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

html {
	font-size: 100%;
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
    touch-action: manipulation;

	scroll-behavior: smooth;
}

body {
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
	width: 100%;
	height: 100%;
	margin: 0;
	font-weight: 400;
	word-wrap: break-word;
	color: #333;
}

h1, h2, h3, h4, h5, h6, p, a, ul, span, li, img, input, button {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.5;
	font-weight: inherit;
}

p {
	line-height: 1.6;
	font-size: 1.05em;
	font-weight: 400;
	color: #555;
}

h1 {
	font-size: 3.5em;
	line-height: 1;
}

h2 {
	font-size: 2.5rem;
	line-height: 1.3;
	border-bottom: 10px solid rgba(117, 117, 237, 0.5)
}

h3 {
	font-size: 2.5em;
}

h4 {
	font-size: 1.5em;
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
	transition: all .3s;
	line-height: 1;
}

a:focus, a:active, a:hover, button:focus, button:active, button:hover, a b.light-color:hover {
	text-decoration: none;
	color: #7a72ed;
}

img {
	width: 200px;
}

span {
	display: inline-block;
}

button {
	outline: 0;
	border: 0;
	background: none;
	cursor: pointer;
}


.section {
	display: flex;
	height: 100%;
	width: 100%;
	padding:50px;
}

.section-body {
	display: flex;
	align-items: center;
}


.full-height {
	height: 100%;
}

.main {
	position: relative;
	height: 100vh;
}


.left-section {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 50%;
	background-size: cover;
	background-position: center;
}

.right-section {
	float: right;
	width: 50%;
	position: relative;
	display: block;
}

.right-section .logo img {
	height: 100%;
	padding:10px;
	width: auto;
}

.right-section .section-content {
	padding: 40px 40px 40px 0;
}
.section{
	border-bottom: 5px solid rgba(117, 117, 237, 0.5);
	border-top: 5px solid rgba(117, 117, 237, 0.5)
	
}
.section-content .title {
	margin-bottom: 15px;
}
footer{

    box-shadow: 0 -4px 10px -2px lightgrey;
}
.footer-info {
	color: #000;
}

.main_description{
	padding-top:20px;
}
.about_description{
	padding-top:20px;
	font-size: 1.3em;
}
.navbar {

    box-shadow: 0 4px 10px -2px lightgrey;
}
nav {
	position: relative;
    display: flex;
}

nav a {
	text-decoration: none;
	position: relative;
	margin: 0 20px;
	font-size: 2em;
	color: #000000;
	text-transform: uppercase;
}

.offer>h2{
	padding:10px 0
}

nav #marker {
	position: absolute;
	left: 0;
	height: 4px;
	width: 0;
	background: #7575ed;
	bottom: -8px;
	transition: 0.5s;
	border-radius: 4px;
}
.nav-item{
    color:#000;
    font-weight: inherit;
    
    transition-duration: 0.5s;
}
.active{
    color:#6161ff;
    transform:scale(1.1)
}